html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}
.scrollbar {
    overflow: hidden;
}
header {
background: linear-gradient(to bottom, black 80%,rgb(85, 85, 85) 15%);	
padding: 1px;
display: block;
width: 100%;
height: 120px;
position: relative;
z-index: 10;
}
header .h1b {
color: white;
top: 20px;
left: 200px;
justify-content: center;
position: absolute;
font-family: cursive;
border-top: 2px solid;
border-image: linear-gradient(to right, white 10%, transparent 90%);
border-image-slice: 1;
cursor: default ;
}
.dir {
position: absolute;
top: 85px;
left: 200px;
padding: 0;   
display: flex;
text-align: left;
list-style: none;
}
nav  a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: large;
    border-right: 3px solid black;
    padding-right: 10px;
}
nav a:hover {
    color: black;  
    position: relative; 
}
.smi {
position: absolute;
top: 30px;
right: 20px;
padding: 0;   
display: inline-block;
}
.smi img {
width: 20px;
height: 20px;
margin-right: 20px;
}
.container {
min-height: 100vh;
display: flex;
flex-direction: column;
}
.content {
flex: 1;
}
.slider {
position: relative;
max-width: 100%;
height: 100%;
margin: auto;
}
.slider img {
display: none;
width: 100%;
height: 600px;
}
.prev, .next {
position: absolute;
top: 50%;
transform: translateY(-50%);
width: auto;
padding: 16px;
color: white;
font-weight: bold;
font-size: 20px;
transition: background-color 0.3s ease;
cursor: pointer;
background-color: rgb(70, 69, 69, 0.5);
border-radius: 10%;
}
.prev {
left: 0;
}
.next {
right: 0;
}
.site-des {
text-align: center;
font-size: 20px;
color: azure;
background-image: url('place1.jpg');
background-size: cover;
background-position: center;
padding: 1px;
border-top: 20px solid rgb(59, 59, 59);
}
footer{
background: linear-gradient(to top,black 90%, rgb(51, 51, 51) 10%);
width: 100%;
left: 0;
bottom: 0;
position: relative;
height: 160px;
justify-content: center;
align-items: center;
display: flex;
}
.fp{
color: white;
font-size: 12pt;
text-align: center;
font-family: 'Lucida Sans';
}
.fp .phnumber {
color: blue;
margin-left: 3px;
}
.fp a {
display: inline-block;
}
.fp img {
width: 20px;
height: 20px;
}
.fp .fatext {
color: blue;
margin-left: 5px;
}
.fp .instatext {
color: blue;
margin-left: 5px;
}
